[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/websocketpp"]
	path = external/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "external/quill"]
	path = external/quill
	url = https://github.com/odygrd/quill.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/prometheus"]
	path = external/prometheus
	url = https://github.com/jupp0r/prometheus-cpp
